.btn {
  font-size: 2rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 1.5px solid var(--black);
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  background-color: #eee;
  border-radius: 0.5rem;
  color: var(--black);
  user-select: none;
}

.btn:hover {
  color: #fff;
  background-color: var(--green);
}

section,
.padding-side {
  padding: 2rem 9%;
}

.heading {
  color: var(--black);
  font-size: 4.5rem;
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.heading span {
  background-color: var(--green);
  color: #fff;
  padding: 0.5rem 3rem;
  display: inline-block;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
  z-index: 0;
}

.box.hide {
  display: none;
}
.section.hide {
  display: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 1.8rem;
  text-align: center;
}
